<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/src/views/assets/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Qwigley' rel='stylesheet'>
    <title>Login</title>
</head>

<body>
    <div>
        <a class="logoutAction" href='/v1/auth/logout'>LOGOUT</a>
    </div>

</body>

</html>
